[Desktop Entry]
Type=Service
MimeType=video/*;audio/*
Actions=pcm_mov;pcm_tc;towav;remove_audio;size_limit;scale;scalevert;rawvideo;audio_replace;tomp4
Icon=video-mlt-playlist
X-KDE-Submenu=FFMpeg Video Tools

[Desktop Action pcm_mov]
Name=Convert: PCM Audio [MOV]
Icon=video-mlt-playlist
Exec=for file in %U;do ffmpeg -i "$file" -c:v copy -acodec pcm_s24be -ar 48000 -map 0 "${file%.*}-pcm.mov";done

[Desktop Action pcm_tc]
Name=Convert: Name to Timecode [MOV]
Icon=video-mlt-playlist
Exec=for file in %U;do ffmpeg -i "$file" -c copy  -map 0 -timecode "`echo "$file" | sed "s/.*_//g" | sed "s/\.mov//g" | sed "s/-/:/g"`:00" "${file%.*}-tc.mov";done

[Desktop Action towav]
Name=Convert: PCM Audio [WAV]
Icon=video-mlt-playlist
Exec=for file in %U;do ffmpeg -i "$file" "${file%.*}-pcm.wav";done

[Desktop Action tomp4]
Name=Convert: Video [MP4]
Icon=video-mlt-playlist
Exec=for file in %U;do ffmpeg -i "$file" "${file%.*}.mp4";done

[Desktop Action rawvideo]
Name=Convert: Raw Video [AVI]
Icon=video-mlt-playlist
Exec=for file in %U;do ffmpeg -i "$file" -c copy -an  -c:v rawvideo "${file%.*}-rawvideo.avi";done

[Desktop Action scale]
Name=Tool: Scale to 720p
Icon=video-mlt-playlist
Exec=for file in %U;do ffmpeg -i "$file" -c:v libx264 -crf 23 -vf scale=1280:720 -c:a copy "${file%.*}-720p.${file##*.}";done

[Desktop Action scalevert]
Name=Tool: Scale to 720p (Vertical)
Icon=video-mlt-playlist
Exec=for file in %U;do ffmpeg -i "$file" -c:v libx264 -crf 23 -vf scale=720:1280 -c:a copy "${file%.*}-720p.${file##*.}";done

[Desktop Action remove_audio]
Name=Tool: Remove Audio
Icon=audio-volume-muted
Exec=for file in %U;do ffmpeg -i "$file" -c copy -an "${file%.*}-muted.${file##*.}";done


[Desktop Action size_limit]
Name=Tool: Under 10MB [MP4]
Icon=audio-volume-muted
Exec=/home/akbkuku/.local/share/kio/servicemenus/bin/ffmpeg_size_limit.sh "%u"


[Desktop Action audio_replace]
Name=Tool: Replace Audio
Icon=kdenlive-split-audio
Exec=/home/akbkuku/.local/share/kio/servicemenus/bin/ffmpeg_audio_replace.sh %U
