[Desktop Entry]
Type=Service
MimeType=image/*;
Actions=convert_jpg;convert_png;convert_bmp3;mogrify_rotate_180;convert_1000px;trim20;trim40;trim60;qual80;
Icon=folder-pictures-symbolic
X-KDE-Submenu=ImageMagick


[Desktop Action convert_jpg]
Name=Convert [JPG]
Icon=folder-pictures-symbolic
Exec=for file in %U;do convert "$file" "${file%.*}.jpg";done

[Desktop Action convert_bmp3]
Name=Convert [BMP3]
Icon=folder-pictures-symbolic
Exec=for file in %U;do convert "$file" BMP3:"${file%.*}.bmp";done

[Desktop Action convert_png]
Name=Convert [PNG]
Icon=folder-pictures-symbolic
Exec=for file in %U;do convert "$file" "${file%.*}.png";done

[Desktop Action convert_1000px]
Name=Convert: Limit 1000px
Icon=folder-pictures-symbolic
Exec=for file in %U;do convert "$file" -resize 1000x1000 "${file%.*}-1000px.${file##*.}";done

[Desktop Action mogrify_rotate_180]
Name=Mogrify: Rotate 180
Icon=rotation-allowed
Exec=for file in %U;do mogrify -rotate 180 "$file";done

[Desktop Action trim20]
Name=Trim: Threshold 20%
Icon=image-crop-symbolic
Exec=for file in %U;do convert "$file" -fuzz 20% -trim +repage "${file%.*}-trim.${file##*.}";done

[Desktop Action trim40]
Name=Trim: Threshold 40%
Icon=image-crop-symbolic
Exec=for file in %U;do convert "$file" -fuzz 40% -trim +repage "${file%.*}-trim.${file##*.}";done

[Desktop Action trim60]
Name=Trim: Threshold 60%
Icon=image-crop-symbolic
Exec=for file in %U;do convert "$file" -fuzz 60% -trim +repage "${file%.*}-trim.${file##*.}";done


[Desktop Action qual80]
Name=Quality: 80% [JPG]
Icon=image-crop-symbolic
Exec=for file in %U;do convert "$file" -quality 60%  "${file%.*}-quality80.jpg";done
