[Desktop Entry]
Type=Service
MimeType=application/*;
Actions=extract_floppy_144;
Icon=kfloppy
X-KDE-Submenu=Media Image


[Desktop Action extract_floppy_144]
Name=Floppy: Disk Image Extract [FAT12]
Icon=kfloppy
Exec=img="%u";mkdir -p "${img%.*}-files";mcopy -i "$img" -sp ::* "${img%.*}-files"
