[Desktop Entry]
Type=Service
MimeType=inode/directory;
Actions=make_iso;make_floppy_144;
Icon=media-write-cd
X-KDE-Submenu=Media Image


[Desktop Action make_floppy_144]
Name=Floppy: Dir to Disk Image [1.44MB]
Icon=kfloppy
Exec=dir="%u";floppy="$(basename $dir).img";dd if=/dev/zero of="$dir/../$floppy"  bs=1474560  count=1; mformat -i "$dir/../$floppy" -f 1440; for file in $dir/* ; do mcopy -i "$dir/../$floppy" "$file" "::$($file | sed 's/^$dir//')" ; done;


[Desktop Action make_iso]
Name=ISO: Dir to Disc Image [ISO9660]
Icon=drive-optical
Exec=dir="%u";iso="$(basename "$dir").iso";mkisofs -o "$iso" "$dir"; xmessage "$dir"; xmessage "$iso"
